
#container {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-flow: row wrap;
}

#left {
    width: 50%;
    height: 98vh;
    background-color: #77bceb;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#right a {
    margin-top: 3%;
    font-size: 20px;
}
 
.Login {
    width: 45%;
    margin-top: 5%;
    padding: 1%;
    font-size: 25px;
    border-radius: 8px;
    text-align: center;
    background-color: whitesmoke;
}

#btn_login {
    margin-top: 3%;
    width: 30%;
    padding: .8%;
    font-size: 25px;
    border-radius: 8px;
    color: black;
    background-color: #77bceb;
}